@mixin fadeinrightbig {

    @at-root {
        @keyframes fadeinrightbig {
            from {
                opacity: 0;
                transform: translate3d(200px, 0, 0);
            }

            to {
                opacity: 1;
                transform: none;
            }
        }
    }

    animation-fill-mode: both;
    animation-name: fadeinrightbig;

}
