@mixin fadeindown {

    @at-root {
        @keyframes fadeindown {
            from {
                opacity: 0;
                transform: translate3d(0, -100%, 0);
            }

            to {
                opacity: 1;
                transform: none;
            }
        }
    }

    animation-fill-mode: both;
    animation-name: fadeindown;

}
