@mixin fadein {

    @at-root {
        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    animation-name: fadein;

}
