@mixin fadeindownbig {

    @at-root {
        @keyframes fadeindownbig {
            from {
                opacity: 0;
                transform: translate3d(0, -2000px, 0);
            }

            to {
                opacity: 1;
                transform: none;
            }
        }
    }

    animation-name: fadeindownbig;

}
