@mixin rotateoutupright {

    @at-root {
        @keyframes rotateoutupright {
            from {
                transform-origin: right bottom;
                opacity: 1;
            }

            to {
                transform-origin: right bottom;
                transform: rotate3d(0, 0, 1, 90deg);
                opacity: 0;
            }
        }
    }

    animation-name: rotateoutupright;

}
