@mixin fadeoutdown {

    @at-root {
        @keyframes fadeoutdown {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                transform: translate3d(0, 100%, 0);
            }
        }
    }

    animation-name: fadeoutdown;

}
