@mixin fadeoutupbig {

    @at-root {
        @keyframes fadeoutupbig {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                transform: translate3d(0, -2000px, 0);
            }
        }
    }

    animation-name: fadeoutupbig;

}
