@mixin fadeoutright {

    @at-root {
        @keyframes fadeoutright {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                transform: translate3d(100%, 0, 0);
            }
        }
    }

    animation-name: fadeoutright;

}
