@mixin fadeout {

    @at-root {
        @keyframes fadeout {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    }

    animation-name: fadeout;

}
