{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "rules": {
    "no-console": 0
  },
  "globals":{
    "SPOC": false,
    "SP": false
  }
}
