# OS
.DS_Store
Thumbs.db

# Composer
composer.phar
composer.lock
/vendor

# Sass
.sass-cache
node_modules
scss-lint-report.xml

# Node
/node_modules
/npm-debug.log

# Laravel
/bootstrap/compiled.php
/app/config/local


# Testing
/report

# WordPress
/public/wp-config.php
/public/wp-content/uploads

# Bower
assets/bower-packages/*
