@mixin lightspeedout {

    @at-root {
        @keyframes lightspeedout {
            from {
                opacity: 1;
            }

            to {
                transform: translate3d(100%, 0, 0) skewX(30deg);
                opacity: 0;
            }
        }
    }

    animation-name: lightspeedout;
    animation-timing-function: ease-out;

}
