body {
    background-color: white;
}

.packageVersions {
    display: block;
}

.welcome-page {
    min-height: 900px !important;
    overflow: hidden;
}

.button-container {
    margin-top: 10px;
}

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0072c6;
    .logo {
        position: absolute;
        top: 0px;
        left: 15px;
        border-radius: 80px;
        width: 130px;
        height: 130px;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
        z-index: 99999;
        img {
            position: relative;
            top: 15px;
            left: 35px;
        }
    }
    .nav-buttons {
        position: absolute;
        top: 0px;
        right: 100px;
    }
    .profile-drop {
        position: relative;
        cursor: pointer;
        top: 0px;
        height: 51px;
        display: none;
        color: white;
        border: 1px solid white;
        width: 90px;
        padding-top: 18px;
        z-index: 99999;
        width: 100px;
        float: left;
        .profile {
            height: 8px;
            width: 80px;
        }
        .profileMenu {
            padding-left: 10px;
            float: left;
        }
        .optionsProfile {
            display: none;
            .optionProfile {
                border: 1px solid black;
                padding: 10px;
                color: black;
                cursor: pointer;
                position: relative;
                top: 32px;
                font-size: 13px;
                &:hover {
                    background-color: #0072c6 !important;
                    color: white!important;
                }
            }
        }
        &:hover {
            background-color: white !important;
            color: #0072c6 !important;
            .optionsProfile {
                display: block;
            }
        }
    }
    .select-language {
        position: relative;
        cursor: pointer;
        top: 0px;
        float: left;
        height: 51px;
        color: white;
        border: 1px solid white;
        width: 90px;
        padding-top: 18px;
        z-index: 99999;
        .languages {
            height: 8px;
        }
        .myLanguage {
            padding-left: 10px;
            float: left;
        }
        .optionsLanguages {
            display: none;
            .optionLanguage {
                border: 1px solid black;
                padding: 10px;
                color: black;
                cursor: pointer;
                position: relative;
                top: 32px;
                font-size: 13px;
                &:hover {
                    background-color: #0072c6 !important;
                    color: white!important;
                }
            }
        }
        &:hover {
            background-color: white !important;
            color: #0072c6 !important;
            .optionsLanguages {
                display: block;
            }
        }
    }
    .select-currency {
        display: none;
        position: relative;
        cursor: pointer;
        top: 0px;
        float: left;
        color: white;
        border: 1px solid white;
        width: 90px;
        padding-top: 18px;
        height: 51px;
        z-index: 99999;
        .currencySel {
            height: 8px;
        }
        .myCurrency {
            padding-left: 10px;
            float: left;
        }
        .optionsCurrency {
            display: none;
            .optionCurrency {
                border: 1px solid black;
                padding: 10px;
                color: black;
                cursor: pointer;
                position: relative;
                top: 32px;
                font-size: 13px;
                &:hover {
                    background-color: #0072c6 !important;
                    color: white!important;
                }
            }
        }
        &:hover {
            background-color: white !important;
            color: #0072c6 !important;
            .optionsCurrency {
                display: block;
            }
        }
    }
    .cart-icon {
        display: none;
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 25px;
        .orderNumber {
            background-color: red;
            color: white;
            border-radius: 13px;
            position: absolute;
            top: 5px;
            left: 25px;
            height: 20px;
            width: 20px;
            text-align: center;
            padding-top: 2px;
            font-size: 13px;
        }
    }
    .contactUs {
        position: relative;
        cursor: pointer;
        top: 0px;
        height: 51px;
        float: left;
        color: white;
        border: 1px solid white;
        width: 110px;
        padding-top: 18px;
        z-index: 99999;
        .contactText {
            text-align: center;
        }
        &:hover {
            background-color: white !important;
            color: #0072c6 !important;
        }
    }
}

.noElements {
    text-align: center;
}

.noAccess{
    text-align: center;
    display: none;
}

.caret {
    position: relative;
    top: 5px;
    left: 10px;
}

.sterlina,
.dollaro {
    display: none;
}

.select-apps-zone,
.my-select-apps-zone {
    display: none;
    .title-select-apps {
        font-size: 40px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }
        padding-top: 30px;
        padding-bottom: 10px;
        color: black;
    }
    .suggested-apps {
        display: none;
    }
}

.my-select-apps-zone {
    margin-top: 30px;
    padding-top: 0px !important;
    .title-select-apps {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
}

.welcome-zone {
    text-align: center;
    padding-top: 60px;
    color: black;
    .welcomeTo {
        font-size: 40px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }
        padding-bottom: 20px;
        animation-delay: 1s !important;
    }
    .welcomeToName {
        font-size: 80px;
        @media screen and (max-width: 1100px) {
            font-size: 50px;
        }
        padding-bottom: 20px;
        font-weight: bold;
        animation-delay: 2s !important;
        word-wrap: break-word;
    }
    .welcomeToDescr {
        padding-bottom: 20px;
        animation-delay: 3s !important;
    }
    .continue-select {
        width: 300px !important;
        margin: auto;
        animation-delay: 4s !important;
    }
    .login-select {
        width: 300px !important;
        margin: auto;
        margin-top: 10px;
        animation-delay: 4s !important;
    }
}

.register-form {
    color: black !important;
    padding-left: 40px;
    small {
        color: black !important;
    }
    .titleRegister {
        font-size: 40px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .alert {
        display: none;
        margin-bottom: 5px !important;
    }
    .nameCompany,
    .locationCompany,
    .emailCompany,
    .confirmEmailCompany,
    .passwordCompany,
    .confirmPassCompany {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.dropdown-menu {
    div {
        padding: 10px;
    }
}

.login-form,
.contact-us,
.reset-password {
    .goBack-homepage {
        .icon {
            position: relative;
            left: -70px;
        }
    }
}

.contact-us {
    .titleInput {
        padding-bottom: 5px !important;
        padding-top: 20px !important;
        text-align: left !important;
        width: 50% !important;
        margin: auto !important;
    }

    .alert{
        position: relative;
        top: 20px;
    }    
}

.login-form,
.contact-us,
.reset-password {
    display: none;
    color: black !important;
    padding-left: 40px;
    text-align: center;
    .titleRegister {
        font-size: 40px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .titleInput {
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .alert {
        display: none;
        width: 50%;
        margin: auto;
        margin-bottom: 5px !important;
    }
    .passwordCompany {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .resetOldPassAlert {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .form-control {
        margin: auto;
        width: 50% !important;
    }
}

.loader {
    display: none;
    color: #0072c6;
    padding-bottom: 20px;
}

.footer {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0px;
    background-color: #0072c6;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-size: 13px;
}

body {
    font-family: "Open Sans", sans-serif;
}

#welcome-panel {
    margin-top: 100px;
}

.ST-CheckUp {
    background-image: url('../_img/png/assessIcon.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #0072c6;
}

.ST-PdfMaker {
    background-image: url('../_img/png/pdfIcon.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #0072c6;
}

.ST-HelpDesk {
    background-image: url('../_img/png/helpdeskIcon.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #0072c6;
}

.ST-HR {
    background-image: url('../_img/png/hrIcon.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #0072c6;
}

.ST-Intraweb {
    background-image: url('../_img/png/intranetIcon.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: #0072c6;
}

.card_0 {
    animation-delay: 1s !important;
}

.card_1 {
    animation-delay: 2s !important;
}

.card_2 {
    animation-delay: 3s !important;
}

.card_3 {
    animation-delay: 4s !important;
}

.card_4 {
    animation-delay: 5s !important;
}

.card_5 {
    animation-delay: 6s !important;
}

.card_6 {
    animation-delay: 7s !important;
}

.card_7 {
    animation-delay: 8s !important;
}

.titleCard {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: black;
    padding-top: 20px;
}

//FLIP ORIZZONTALE
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(-180deg);
}

.flip-container {
    height: 170px;
    width: 170px;
    font-size: 13px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.front,
.back {
    padding: 10px;
    height: 170px;
    width: 170px;
    font-size: 13px;
}

.back {
    .startPack,
    .monthlySub {
        font-weight: bold;
        float: left;
    }
    .backInfo {
        padding-top: 5px;
    }
}

.flipper {
    transition: 1.5s;
    transform-style: preserve-3d;
    position: relative;
    height: 170px;
    width: 170px;
}

.myCard {
    margin-top: 20px;
    position: relative;
    height: 170px;
    width: 170px;
    cursor: pointer;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    // border-radius: 5px;
    // box-shadow: 4px 4px 5px #222;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.back {
    background-color: black;
    color: white;
    transform: rotateY(-180deg);
}

//FINE FLIP
.btn-welcome {
    border: 1px solid black;
    color: white;
    background-color: #0072c6;
    cursor: pointer;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8px !important;
    &:hover {
        background-color: white !important;
        color: #0072c6 !important;
    }
}

.select-version {
    .container-packages {
        overflow: hidden;
    }
    .package {
        background-color: #0072c6;
        overflow: hidden;
        padding: 10px;
        margin: 20px;
        color: white;
        &.packageSel {
            background-color: white;
            color: #0072c6;
            border: 1px solid #0072c6;
        }
    }
    .title-select-version {
        font-size: 40px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
    }
    .standard {
        animation-delay: 1s !important;
    }
    .enterprise {
        animation-delay: 2s !important;
    }
    .premium {
        animation-delay: 3s !important;
    }
    .nameVersion {
        font-size: 20px;
        padding-bottom: 5px;
    }
    .detailsVersion {
        font-size: 13px;
        padding-bottom: 5px;
    }
    .priceVersion {
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 30px;
        @media screen and (max-width: 1100px) {
            font-size: 15px;
        }
    }
    .subPriceVersion {
        padding-bottom: 5px;
        .titlePrice {
            font-size: 13px;
            padding-right: 4px;
            float: left;
        }
        .valuePrice {
            font-size: 14px;
            font-weight: bold;
            float: left;
        }
    }
    .confirm-version,
    .clean-version {
        border: 1px solid black;
        cursor: pointer;
        height: 30px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 6px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 17px;
    }
}

.cart-details {
    padding-top: 30px !important;
}

.goBack-apps,
.goBack-package,
.goBack-cart,
.goBack-selectApps,
.goBack-homepage {
    background-color: #0072c6;
    color: white;
    margin-top: 0px;
    @media screen and (max-width: 1100px) {
        margin-top: 50px;
    }
}

.goBack-homepage {
    width: 170px !important;
}

.goBack-selectApps {
    display: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 150px;
    margin-top: 10px;
    height: 35px;
    .backLabel {
        position: absolute;
        top: 5px;
        left: 27px;
        color: white;
    }
}

.cart-container {
    margin-bottom: 10px !important;
}

.packageBusiness, .totalStartPriceEuro{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dotted black;
    margin-bottom: 10px;

    div{
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.otherShopCard{
    cursor: default !important;
}

.finalPackageSel, .finalSubSel, .finalTotSel{
    font-weight: bold;
}

.buttonPayPal{
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.cart-buttons{
    display: none;
}

.confirm-payment{
    margin-bottom: 50px !important;
}

.cart-details,
.payment-zone,
.register-form,
.select-version,
.select-apps-zone,
.login-form,
.my-select-apps-zone,
.contact-us,
.reset-password {
    display: none;
    padding-top: 30px;
    .goBack-package {
        width: 200px !important;
    }
    .goBack-apps,
    .goBack-cart,
    .goBack-package,
    .goBack-homepage {
        cursor: pointer;
        position: relative;
        margin-bottom: 10px;
        border: 1px solid black;
        width: 150px;
        margin-top: 10px;
        .backLabel {
            position: absolute;
            top: 5px;
            left: 27px;
            color: white;
        }
    }
    .cart,
    .cart-buttons {
        color: black;
        .cart-title {
            font-size: 40px;
            @media screen and (max-width: 1100px) {
                font-size: 25px;
            }
            padding-top: 10px;
            padding-bottom: 10px;
            color: black;
        }
        .numberPackages {
            font-size: 40px;
            @media screen and (max-width: 1100px) {
                font-size: 25px;
            }
            font-weight: bold;
        }
        .totale-cart {
            display: none;
            font-weight: bold;
            font-size: 20px;
            color: black;
            border-top: 1px solid #000;
            border-bottom: 1px solid white;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .cart-container,
        .payment-container {
            position: relative;
            .infoCardAdded {
                position: relative;
                border-bottom: 1px dotted black;
                padding-bottom: 10px;
                padding-top: 10px;
                overflow: hidden;
                .logoDetails {
                    img {
                        background-color: #0072c6;
                        width: 120px;
                        float: left;
                        height: 120px;
                        margin-right: 20px;
                    }
                }
                .titleCard {
                    font-weight: bold;
                    text-align: left !important;
                    padding-bottom: 10px;
                    padding-top: 10px !important;
                }
                .descriptionCard {
                    font-size: 12px;
                    padding-bottom: 10px;
                }
                .deleteCard {
                    cursor: pointer;
                    position: absolute;
                    display: none;
                    right: 10px;
                    top: 20px;
                }
            }
        }
    }
}

.priceSel {
    display: none;
}

.popUpInfo {
    display: none;
}

.hiddenInfo {
    display: none;
}

.myApps,
.otherShopCard {
    .myCard {
        margin-top: 0px !important;
        height: 200px;
        .flip-container {
            margin-top: 0px !important;
        }
    }
}

.myApps {
    margin-bottom: 30px !important;
}

.card {
    @media screen and (max-width: 1100px) {
        margin-bottom: 20px;
    }
}

.title-sugg {
    padding-bottom: 0px !important;
    margin-top: 20px;
}

.otherShopCard {
    position: relative;
    top: -10px;
}

.btn-suggested {
    padding-top: 50px;
}

.appST {
    .goBack-selectApps {
        cursor: pointer;
        position: relative;
        margin-bottom: 10px;
        border: 1px solid black;
        width: 150px;
        margin-top: 10px;
        .backLabel {
            position: absolute;
            top: 5px;
            left: 27px;
            color: white;
        }
    }
    .title-myApp {
        font-size: 40px;
        @media screen and (max-width: 1100px) {
            font-size: 25px;
        }
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
    }
}
